quickgo-service/src/main/resources/xsd/obo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://uk.ac.ebi/quickgo"
	targetNamespace="http://uk.ac.ebi/quickgo" elementFormDefault="qualified">

	<!-- Root element definition begins -->
	<xs:element name="obo" type="obotypedef" />
	<!-- Root element definition ends -->

	<xs:complexType name="obotypedef">
		<xs:sequence>
			<xs:element name="header" type="headertypedef" />
			<xs:element name="term" type="termdeftype" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="headertypedef">
		<xs:sequence>
			<xs:element name="format-version" type="xs:string" />
			<xs:element name="auto-generated-by" type="xs:string" />
			<xs:element name="synonymtypedef" type="synonymtypedef" />
			<xs:element name="default-namespace" type="xs:string" />
			<xs:element name="remark" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="synonymtypedef">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="scope" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="termdeftype">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="namespace" type="xs:string" />
			<xs:element name="def" type="deftype" />
			<xs:element name="comment" type="xs:string" maxOccurs="unbounded"/>
			<xs:element name="synonym" type="synonymtype" maxOccurs="unbounded" />
			<xs:element name="alt_id" type="xs:string" maxOccurs="unbounded" />
			<xs:element name="is_obsolete" type="xs:boolean" minOccurs="0"/>
			<xs:element name="replacedBy" type="xs:string" maxOccurs="unbounded" />
			<xs:element name="consider" type="xs:string" maxOccurs="unbounded" />
			<xs:element name="xref" type="xreftype" maxOccurs="unbounded" />
			<xs:element name="is_a" type="xs:string" maxOccurs="unbounded" />
			<xs:element name="relationship" type="relationshiptype" maxOccurs="unbounded" />						
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deftype">
		<xs:sequence>
			<xs:element name="defstr" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="synonymtype">
		<xs:sequence>
			<xs:element name="synonym_text" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="scope" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="xreftype">
		<xs:sequence>
			<xs:element name="acc" type="xs:string" />
			<xs:element name="dbname" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="relationshiptype">
		<xs:sequence>
			<xs:element name="type" type="xs:string" />
			<xs:element name="to" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>	